body {
    margin: 0 auto;
    max-width: 1920px;
    height: 100vh;
}

.wrapper {
    margin: 0 auto;
    background: rgba(102, 51, 153, 0.437);
    height: 150vh;
    position: relative;
    max-width: 60.4%;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo {
    width: 181px;
    padding-top: 1.813rem;
    padding-bottom: 1.594rem;
}

.search {
  position: absolute;
  top: 2.125rem;
  right: 0;
  width: 19px;
  height: 19px;
}


a {
    text-decoration: none;
    color: #000;
    font-size: 1rem;
    display: inline-block;
}

nav {
    width: 100vw;
    display: flex;
    justify-content: center;
    gap: 32px;
    padding: 1.3rem 0;
    position: sticky;
    border-top: 1px solid rgba(233, 233, 233, 1);
    border-bottom: 1px solid rgba(233, 233, 233, 1);
}

nav.sticky {
    position: fixed;
    z-index: 999;
    border-top: 1px solid rgba(233, 233, 233, 1);
    border-bottom: 1px solid rgba(233, 233, 233, 1);
    animation: showNav 0.0ы1s;
}
  
@keyframes showNav {
  0% {
      transform: translateY(-100%);
  }
  100% {
      transform: translateY(0);
  }
}
  
nav.sticky.hide {
  animation: hideNav 0.5s forwards;
}
  
@keyframes hideNav {
  0% {
      transform: translateY(0);
      opacity: 1;
  }
  100% {
      transform: translateY(-100%);
      opacity: 0;
  }
}
  
@import url('style.scss');
